<div class="animated fadeIn">
  <div class="alert alert-success" type="warning" *ngIf="!(isConnected | async)">
    <strong>Oops!.. Please connect to the Internet to enable page functionality</strong>
  </div>
  <p>A division of a large organization such as a government, university, or business, dealing with a specific area of
    activity.Specialized functional area within an organization or a division, such as accounting, marketing,
    planning. Generally every department has its own manager and chain of command. </p>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <b> Add Student</b>

      </div>
      <div class="card-body">
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-3 col-form-label">First Name :</label>

                <div class="col-md-9 input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" formControlName="stFirstName" id="stTxt"
                         name="stTxt"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.stFirstName.errors }"
                         placeholder="Enter First Name">

                  <div *ngIf="submitted && f.stFirstName.errors" class="invalid-feedback">
                    <div *ngIf="f.stFirstName.errors.required">StudentName is required</div>
                    <div *ngIf="f.stFirstName.errors.minlength">StudentName must be at least 2
                      characters
                    </div>
                    <div *ngIf="f.stName.errors.maxlength">Student Name must be 30 characters</div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label">Last Name :</label>

                <div class="col-md-9 input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text"  formControlName="stLastName" id="stLastNameTxt"
                         name="stLastNameTxt"
                         class="form-control"
                         [value]="stLastName"
                         (input)="stLastName=$event.target.value"
                         placeholder="Enter Last Name">
                </div>
              </div>
             
              <div class="form-group row">
                <label class="col-md-3  col-form-label" for="textarea-input">Address :</label>

                <div class="col-md-9 input-group mb-3 ">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-speech"></i></span>
                  </div>
                                    <textarea id="textarea-input" formControlName="stAddress" id="addressTxt"
                                              name="addressTxt"
                                              class="form-control"
                                              rows="6"
                                              [ngClass]="{ 'is-invalid': submitted && f.stAddress.errors }"
                                              placeholder="Enter Address"></textarea>

                  <div *ngIf="submitted && f.stAddress.errors" class="invalid-feedback">
                    <div *ngIf="f.stAddress.errors.required">Address is required</div>
                    <div *ngIf="f.stAddress.errors.minlength">Address must be at least 5
                      characters
                    </div>

                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Email :</label>

                <div class="col-md-9 input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email" formControlName="stEmailId"
                         name="stEmaildIdTxt" id="stEmaildIdTxt"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.stEmailId.errors }"
                         placeholder="Enter Student Email">

                  <div *ngIf="submitted && f.stEmailId.errors" class="invalid-feedback">
                    <div class="alert alert-danger"
                         [hidden]="studentForm.controls.email.untouched || studentForm.controls.email.valid">
                      A valid email address is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Contact No :</label>


                <div class="col-md-9 input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-phone"></i></span>
                  </div>
                  <input type="text" formControlName="stContactPhone"
                         name="stphoneTxt" id="stphoneTxt"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.stContactPhone.errors }"
                         class="form-control"
                         onkeypress="return isNumberKey(event)"
                         placeholder=" Enter the Student Contact No">

                  <div *ngIf="submitted && f.stContactPhone.errors" class="invalid-feedback">
                    <div *ngIf="f.stContactPhone.errors.required">Contact Phone is required</div>
                    <div *ngIf="f.stContactPhone.errors.minlength">Contact Phone must be at least
                      10 characters
                    </div>
                    <div *ngIf="f.stContactPhone.errors.maxlength">Contact Phone must be at least
                      15 characters
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="form-group row">
                <label class=" col-md-3 col-form-label" for="inline-radios">Gender :</label>

                <div class="col-md-9 col-form-label">
                  <div class="form-check form-check-inline mr-1" id="inline-radios" *ngFor="let genderval of genderDatas">
                    <input class="form-check-input" type="radio" name="inline-radios"
                           id="inlineRadio1" value={{genderval.name}}  (click)="getValue(genderval)">
                    <label class="form-check-label" for="inlineRadio1">{{genderval.name}}</label>
                  </div>

                </div>
              </div>-->
              <div class="form-group row"><label class="col-md-3 col-form-label">Gender : </label>

                <div class="col-md-9 col-form-label">
                  <mat-radio-group  [(ngModel)]="options">
                    <mat-radio-button *ngFor="let genderDatas of genderDatas"
                                      [value]="genderDatas.id"  (click)="getValue(genderDatas)" > {{genderDatas.name }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <!---second-col-md-6-->
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-4 col-form-label">Select Department</label>

                <div class="col-md-6 input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-wallet"></i></span>
                  </div>

                  <select   name="drwnDepartment"  class="form-control form-control-sm" (change)="getValueInDepartment($event.target.value)">
                    <option [ngValue]="null" disabled>Choose Department</option>
                    <option  *ngFor="let department of departmentList">
                      {{ department.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label">Select Course</label>

                <div class="col-md-6 input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-badge"></i></span>
                  </div>

                  <select   name="drwnCourse"  class="form-control form-control-sm" (change)="getValueInCourse($event.target.value)">
                    <option [ngValue]="null" disabled>Choose Course</option>
                    <option  *ngFor="let course of courseList">
                      {{ course.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 text-center img-div">
                  <img [src]="url" height="150px" width="150px">
                </div>
                <div class="col-md-8">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">File Name :</label>
                    <div class="col-md-8 input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-doc"></i></span>
                      </div>
                      <input type="text" formControlName="chosenFileName"
                             name="fileNameTxt" id="fileNameTxt"
                             [(ngModel)]="chosenFileName"
                             class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f.chosenFileName.errors }"
                             class="form-control"
                             placeholder="File Name">
                      <div *ngIf="submitted && f.chosenFileName.errors" class="invalid-feedback">
                        <div *ngIf="f.chosenFileName.errors.required">File Name is required</div>

                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">File Type :</label>

                    <div class="col-md-8 input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-docs"></i></span>
                      </div>
                      <input type="text" formControlName="chosenFileType"
                             [(ngModel)]="chosenFileType"
                             name="fileTypeTxt" id="fileTypeTxt"
                             class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f.chosenFileType.errors }"
                             class="form-control"
                             placeholder="File Type">

                      <div *ngIf="submitted && f.chosenFileType.errors" class="invalid-feedback">
                        <div *ngIf="f.chosenFileType.errors.required">File Type is required</div>

                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">File Size :</label>

                    <div class="col-md-8 input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-drawer"></i></span>
                      </div>
                      <input type="text" formControlName="chosenFileSize"
                             name="fileSizeTxt" id="fileSizeTxt"
                             [(ngModel)]="chosenFileSize"
                             class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f.chosenFileSize.errors }"
                             class="form-control"
                             placeholder="File Size">

                      <div *ngIf="submitted && f.chosenFileSize.errors" class="invalid-feedback">
                        <div *ngIf="f.chosenFileSize.errors.required">File Size is required</div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="btn btn-default">
                  <input type="file" accept=".png, .jpg, .jpeg" (change)="selectFile($event)">
                </label>

              </div>
            </div>
          </div>

          <div class="row float_rigt">
            <div class="form-group pad_right_5">
              <button type="reset" class="btn btn-danger px-4" (click)="goToReset()">Reset</button>
            </div>
            <div class="form-group">
              <button class="btn btn-primary px-4">Add Student</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>