<div class="animated fadeIn">
    <div class="alert alert-success" type="warning" *ngIf="!(isConnected | async)">
        <strong>Oops!.. Please connect to the Internet to enable page functionality</strong>
    </div>
    <div class="row">

        <p>A division of a large organization such as a government, university, or business, dealing with a specific
            area of activity.Specialized functional area within an organization or a division, such as accounting,
            marketing, planning. Generally every course has its own manager and chain of command.

        </p>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Add Subject </strong> Form
                </div>
                <div class="card-body">
                    <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                        <div class="col-md-6" style="float:left">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Choose Department / Course/Subject/ExamType</strong>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Department</label>

                                        <div class="col-md-9 input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-wallet"></i></span>
                                            </div>
                                            <select name="drwnDepartment" class="form-control form-control-sm"
                                                    (change)="getValueInDepartment($event.target.value)">
                                                <option [ngValue]="null" disabled>Choose Department</option>
                                                <option *ngFor="let department of departmentList">
                                                    {{ department.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Select Course</label>

                                        <div class="col-md-9 input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-badge"></i></span>
                                            </div>

                                            <select name="drwnCourse" class="form-control form-control-sm"
                                                    (change)="getValueInCourse($event.target.value)">
                                                <option [ngValue]="null" disabled>Choose Course</option>
                                                <option *ngFor="let course of courseList">
                                                    {{ course.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"> Subject Type :</label>

                                        <div class="col-md-9 input-group mb-3 ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-note"></i></span>
                                            </div>

                                            <select name="drwnCourse" class="form-control form-control-sm"
                                                    (change)="getValueInSubjectType($event.target.value)">
                                                <option [ngValue]="null" disabled>Choose Subject Type</option>
                                                <option *ngFor="let subject of subjectTypeList">
                                                    {{ subject.subjectType }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Subject Name :</label>

                                        <div class="col-md-9 input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-user"></i></span>
                                            </div>
                                            <input type="text" formControlName="subjectName" id="subjectNameTxt"
                                                   name="subjectNameTxt"
                                                   class="form-control"
                                                   [ngClass]="{ 'is-invalid': submitted && f.subjectName.errors }"
                                                   placeholder="Enter Subject Name">

                                            <div *ngIf="submitted && f.subjectName.errors" class="invalid-feedback">
                                                <div *ngIf="f.subjectName.errors.required">Subject is required</div>
                                                <div *ngIf="f.subjectName.errors.minlength">Subject must be at least 3
                                                    characters
                                                </div>
                                                <div *ngIf="f.subjectName.errors.maxlength">Subject Name must be 100
                                                    characters
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3  col-form-label" for="textarea-input">Description
                                            :</label>

                                        <div class="col-md-9 input-group mb-3 ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-speech"></i></span>
                                            </div>
                                    <textarea id="textarea-input" formControlName="subjectDescription"
                                              id="subjectDescriptionTxt"
                                              name="subjectDescriptionTxt"
                                              class="form-control"
                                              rows="6"
                                              [ngClass]="{ 'is-invalid': submitted && f.subjectDescription.errors }"
                                              placeholder="Enter Subject Description"></textarea>

                                            <div *ngIf="submitted && f.subjectDescription.errors"
                                                 class="invalid-feedback">
                                                <div *ngIf="f.subjectDescription.errors.required">Description is
                                                    required
                                                </div>
                                                <div *ngIf="f.subjectDescription.errors.minlength">Description must be
                                                    at least 5 characters
                                                    <div *ngIf="f.subjectDescription.errors.maxlength">Description must
                                                        be at maximum 500 characters
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" style="float:right">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Choose Image</strong> Form
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 text-center img-div">
                                            <img [src]="url" height="150px" width="150px">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label">File Name :</label>

                                                <div class="col-md-8 input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="icon-doc"></i></span>
                                                    </div>
                                                    <input type="text" formControlName="chosenFileName"
                                                           name="fileNameTxt" id="fileNameTxt"
                                                           [(ngModel)]="chosenFileName"
                                                           readonly="true"
                                                           class="form-control"
                                                           readonly="true"
                                                           [ngClass]="{ 'is-invalid': submitted && f.chosenFileName.errors }"
                                                           class="form-control"
                                                           placeholder="File Name">

                                                    <div *ngIf="submitted && f.chosenFileName.errors"
                                                         class="invalid-feedback">
                                                        <div *ngIf="f.chosenFileName.errors.required">File Name is
                                                            required
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label">File Type :</label>

                                                <div class="col-md-8 input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="icon-docs"></i></span>
                                                    </div>
                                                    <input type="text" formControlName="chosenFileType"
                                                           [(ngModel)]="chosenFileType"
                                                           name="fileTypeTxt" id="fileTypeTxt"
                                                           readonly="true"
                                                           class="form-control"
                                                           readonly="true"
                                                           [ngClass]="{ 'is-invalid': submitted && f.chosenFileType.errors }"
                                                           class="form-control"
                                                           placeholder="File Type">

                                                    <div *ngIf="submitted && f.chosenFileType.errors"
                                                         class="invalid-feedback">
                                                        <div *ngIf="f.chosenFileType.errors.required">File Type is
                                                            required
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label">File Size :</label>

                                                <div class="col-md-8 input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="icon-drawer"></i></span>
                                                    </div>
                                                    <input type="text" formControlName="chosenFileSize"
                                                           name="fileSizeTxt" id="fileSizeTxt"
                                                           [(ngModel)]="chosenFileSize"
                                                           readonly="true"
                                                           readonly="true"
                                                           class="form-control"
                                                           [ngClass]="{ 'is-invalid': submitted && f.chosenFileSize.errors }"
                                                           class="form-control"
                                                           placeholder="File Size">

                                                    <div *ngIf="submitted && f.chosenFileSize.errors"
                                                         class="invalid-feedback">
                                                        <div *ngIf="f.chosenFileSize.errors.required">File Size is
                                                            required
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="btn btn-default">
                                            <input type="file" accept=".png, .jpg, .jpeg" (change)="selectFile($event)">
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"> Passing Marks</label>

                                        <div class="col-md-9 input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-note"></i></span>
                                            </div>
                                            <input type="text" OnlyNumber="true" formControlName="passingMarks"
                                                   id="passingTxt" name="passingTxt"
                                                   class="form-control"
                                                   onkeypress="return isNumberKey(event)"
                                                   [ngClass]="{ 'is-invalid': submitted && f.passingMarks.errors }"
                                                   placeholder="Enter Passing Marks">

                                         <!--  <div *ngIf="subjectForm.get('passingMarks').errors.max" class="invalid-feedback">
                                                        Passing Marks cannot be more than 200.
                                           </div>-->

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Total Marks :</label>

                                        <div class="col-md-9 input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-book-open"></i></span>
                                            </div>
                                            <input type="text" OnlyNumber="true" formControlName="totalMarks"
                                                   id="totalTxt" name="totalTxt"
                                                   onkeypress="return isNumberKey(event)"
                                                   class="form-control"
                                                   [ngClass]="{ 'is-invalid': submitted && f.totalMarks.errors }"
                                                   placeholder="Enter Total Marks">

                                          <!--  <div *ngIf="subjectForm.get('totalMarks').errors.max" class="invalid-feedback">
                                                Total Marks cannot be more than 200.
                                            </div>-->
                                            <div [hidden]="!subjectForm.get('totalMarks').hasError('pattern')">Mobile numberr should be only numbers</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row float_rigt pad_right_30">
                            <div class="form-group pad_right_5">
                                <button type="reset" class="btn btn-sm btn-danger" (click)="goToReset()"><i class="fa fa-ban"></i> Reset
                                </button>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                                    Add Subject
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
