<div class="animated fadeIn">
    <div class="alert alert-success" type="warning" *ngIf="!(isConnected | async)">
        <strong>Oops!.. Please connect to the Internet to enable page functionality</strong>
    </div>
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <b>Vocabulary List</b>

                <div class="row float_rigt">
                    <button type="button" (click)="goToAddVocabulary()" class="btn btn-sm btn-success">
                        <i class="glyphicon glyphicon-plus">
                        </i> Add Vocabulary
                    </button>

                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Department</label>

                            <div class="col-md-9 input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-wallet"></i></span>
                                </div>
                                <select name="drwnDepartment" class="form-control form-control-sm"
                                        (change)="getValueInDepartment($event.target.value)">
                                    <option [ngValue]="null" disabled>Choose Department</option>
                                    <option *ngFor="let department of departmentList">
                                        {{ department.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Select Course</label>

                            <div class="col-md-9 input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-badge"></i></span>
                                </div>

                                <select name="drwnCourse" class="form-control form-control-sm"
                                        (change)="getValueInCourse($event.target.value)">
                                    <option [ngValue]="null" disabled>Choose Course</option>
                                    <option *ngFor="let course of courseList">
                                        {{ course.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="margin: auto; margin-bottom: 50px;" >
                    <data-table id="search-grid"
                                headerTitle="Vocabulary List"
                                [pagination_limit]="true"
                                [items]="items"
                                [itemCount]="itemCount"
                                (reload)="reloadItems($event)"
                                (rowClick)="rowClick($event)"
                                (rowDoubleClick)="rowDoubleClick($event)"
                                [rowTooltip]="rowTooltip">
                        <data-table-column
                                [property]="'word'"
                                [header]="'Word'"
                                [sortable]="true"
                                [resizable]="true"
                                width="150px"
                                [searchable]="true">
                        </data-table-column>
                        <data-table-column
                                [property]="'usageInSentence'"
                                [header]="'Usage In Sentence'"
                                width="150px"
                                [sortable]="true"
                                [visible]="true">
                            <ng-template #dataTableCell let-item="item">
                                <div  [innerHTML]="assembleHTMLItem(item.usageInSentence) "></div>
                            </ng-template>
                        </data-table-column>
                        <data-table-column
                                property="imageUrl"
                                header="Image"
                                [searchable]="false"
                                width="100px">
                            <ng-template #dataTableCell let-item="item">
                                <img src="{{item.imageUrl}}" class="img-avatar-style no-border"
                                     onError="this.src='../assets/img/no_image.png';"/>
                            </ng-template>
                        </data-table-column>
                        <data-table-column
                                property="videoUrl"
                                header="Video"
                                [searchable]="false"
                                width="200px">
                            <ng-template #dataTableCell let-item="item">
                                <video width="200" height="100" controls>
                                    <source src="{{item.videoUrl}}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>

                            </ng-template>
                        </data-table-column>
                        <data-table-column
                                [property]="'active'"
                                [header]="'Actions'"
                                [width]="150"
                                [resizable]="true"
                                [searchable]="false">
                            <ng-template #dataTableHeader let-item="item">
                                <span style="color: rgb(232, 0, 0)">Actions</span>
                            </ng-template>
                            <ng-template #dataTableCell let-item="item">
                                <span class="badge badge-danger" (click)="goToEditNamePopUp(item)">&nbsp;Edit&nbsp;</span>
                                <!--<span id="openModalButton" class="badge badge-warning" data-toggle="modal"
                                      data-target="#warningModal"
                                      (click)="goToDisableVocabularyPopUp(item)">Delete</span>-->
                                <span id="openModalButton" class="badge badge-warning" data-toggle="modal"
                                      data-target="#warningModal"
                                      (click)="goToDeleteVocabularyPopUp(item)">Delete</span>

                            </ng-template>
                        </data-table-column>
                    </data-table>
                </div>

            </div>
        </div>
    </div>
    <!--last div-->
</div>
<div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Vocabulary</h4>
                <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{msgInPopup}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">No</button>
                <button type="button" class="btn btn-warning" (click)=" goToConFirmSubjectDelete()">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
