<div class="animated fadeIn">
    <div class="alert alert-success" type="warning" *ngIf="!(isConnected | async)">
        <strong>Oops!.. Please connect to the Internet to enable page functionality</strong>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class=" card-body">
                <div class="col-md-8">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            <strong>Question Type</strong>
                        </label>
                        <label class="col-md-3 col-form-label" style="color: green">
                            Multiple Choices
                        </label>

                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            <strong>Question </strong>
                        </label>


                    </div>
                    <div class="form-group row">
                        <label class="col-md-8 col-form-label">
                           I have been visiting chennnai------childhood
                        </label>


                    </div>
                    <div class="col-md-12">
                        <div class=" card">
                            <div class=" card-body">
                                <div >
                                    <label class="p"><span class="p5">A</span> </label>
                                    <label class="col-md-3 col-form-label text-center">
                                        <strong>Since </strong>
                                    </label>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class=" card">
                            <div class=" card-body">
                                <div >
                                    <label class="p"><span class="p5">B</span> </label>
                                    <label class="col-md-3 col-form-label text-center ">
                                        <strong>For </strong>
                                    </label>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class=" card">
                            <div class=" card-body">
                                <div >
                                    <label class="p"><span class="p5">C</span> </label>
                                    <label class="col-md-3 col-form-label text-center ">
                                        <strong>On</strong>
                                    </label>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class=" card">
                            <div class=" card-body">
                                <div >
                                    <label class="p"><span class="p5">D</span> </label>
                                    <label class="col-md-3 col-form-label text-center ">
                                        <strong>About </strong>
                                    </label>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class=" card">
                            <div class=" card-body">
                                <div >
                                    <label class="p"><span class="p5">E</span> </label>
                                    <label class="col-md-3 col-form-label text-center ">
                                        <strong>None of these </strong>
                                    </label>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>