<div class="animated fadeIn">
    <div class="alert alert-success" type="warning" *ngIf="!(isConnected | async)">
        <strong>Oops!.. Please connect to the Internet to enable page functionality</strong>
    </div>
    <div class="row">
        <p>A division of a large organization such as a government, university, or business, dealing with a specific
            area of activity.Specialized functional area within an organization or a division, such as accounting,
            marketing, planning. Generally every course has its own manager and chain of command.

        </p>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Add Fees</strong> Form
                </div>
                <div class="card-body">
                    <form [formGroup]="FeesForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                        <div class="col-md-6" style="float:left">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Department</label>

                                <div class="col-md-9 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-wallet"></i></span>
                                    </div>
                                    <select name="drwnDepartment" class="form-control form-control-sm"
                                            (change)="getValueInDepartment($event.target.value)">
                                        <option [ngValue]="null" disabled>Choose Department</option>
                                        <option *ngFor="let department of departmentList">
                                            {{ department.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Select Course</label>

                                <div class="col-md-9 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-badge"></i></span>
                                    </div>

                                    <select name="drwnCourse" class="form-control form-control-sm"
                                            (change)="getValueInCourse($event.target.value)">
                                        <option [ngValue]="null" disabled>Choose Course</option>
                                        <option *ngFor="let course of courseList">
                                            {{ course.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label"> Exam Type :</label>

                                <div class="col-md-9 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-magic-wand"></i></span>
                                    </div>
                                    <select name="drwnCourse" class="form-control form-control-sm"
                                            (change)="getValueInExamType($event.target.value)">
                                        <option [ngValue]="null" disabled>Choose Exam Type</option>
                                        <option *ngFor="let examtype of examTypeList">
                                            {{ examtype.examType }}
                                        </option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6" style="float:right">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Student Name :</label>

                                <div class="col-md-9 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <select name="drwnCourse" class="form-control form-control-sm"
                                            (change)="getValueInExamType($event.target.value)">
                                        <option [ngValue]="null" disabled>Choose Student Name</option>
                                        <option *ngFor="let Studentname of studentNameList">
                                            {{ examtype.examType }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Fees Amount :</label>

                                <div class="col-md-9 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-notebook"></i></span>
                                    </div>
                                    <input type="text" OnlyNumber="true" formControlName="feesAmount" id="feesAmountTxt"
                                           name="feesAmountTxt"
                                           class="form-control"
                                           pattern="[0-9]+"
                                           [ngClass]="{ 'is-invalid': submitted && f.feesAmount.errors }"
                                           placeholder="Enter feesAmount">

                                    <div *ngIf="submitted && f.feesAmount.errors" class="invalid-feedback">
                                        <div *ngIf="f.feesAmount.errors.required">feesAmount is required</div>
                                        <div *ngIf="f.feesAmount.errors.minlength">feesAmount must be at least 3
                                            characters
                                        </div>
                                        <div *ngIf="f.feesAmount.errors.maxlength">feesAmount must be 30 characters
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </form>
                    <div class="row float_rigt">
                        <div class="form-group pad_right_5">
                            <button type="reset" class="btn btn-danger px-4">Reset</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary px-4">Add Fees</button>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>

    <!--last div-->
</div>