<div class="animated fadeIn">
    <div class="alert alert-success" type="warning" *ngIf="!(isConnected | async)">
        <strong>Oops!.. Please connect to the Internet to enable page functionality</strong>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Add project
            </div>
            <div class="card-body">

                <form [formGroup]="ProjectForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group row"><label class="col-md-3 col-form-label">ProjectName :</label>

                                <div class="col-md-8 input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text"><i
                                            class="icon-star"></i></span></div>
                                    <input type="text" formControlName="ProjectName" id="ProjectTxt" name="ProjectTxt"
                                           class="form-control" OnlyNumber="true"
                                           [ngClass]="{ 'is-invalid': submitted && ProjectName.errors }"
                                           placeholder="Enter Project Name">

                                    <div *ngIf="submitted && f.ProjectName.errors" class="invalid-feedback">
                                        <div *ngIf="ProjectName.errors.required">ProjectName is required</div>
                                        <div *ngIf="ProjectName.errors.minlength">ProjectName must be at least 2
                                            characters
                                        </div>
                                        <div *ngIf="f.ProjectName.errors.maxlength">Project Name must be 30 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3  col-form-label" for="textarea-input">Description :</label>

                                <div class="col-md-8 input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-speech"></i></span>
                                    </div>
                                    <textarea id="textarea-input" formControlName="projectDescription"
                                              id="projectDescriptionTxt" name="projectDescriptionTxt"
                                              class="form-control"
                                              rows="9"
                                              [ngClass]="{ 'is-invalid': submitted && f.projectDescription.errors }"
                                              placeholder="Enter Project Description"></textarea>

                                    <div *ngIf="submitted && f.projectDescription.errors" class="invalid-feedback">
                                        <div *ngIf="f.projectDescription.errors.required">Description is required
                                        </div>
                                        <div *ngIf="f.projectDescription.errors.minlength">Description must be at
                                            least 5 characters
                                        </div>
                                        <div *ngIf="f.projectDescription.errors.maxlength">Description must be at
                                            least 100 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Department :</label>

                                <div class="col-md-8 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-wallet"></i></span>
                                    </div>

                                    <select name="drwnDepartment" class="form-control form-control-sm"
                                            (change)="getValueInDepartment($event.target.value)">
                                        <option [ngValue]="null" disabled>Choose Department</option>
                                        <option *ngFor="let department of departmentList">
                                            {{ department.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class=" col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Course :</label>

                                <div class="col-md-8 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-badge"></i></span>
                                    </div>

                                    <select name="drwnCourse" class="form-control form-control-sm"
                                            (change)="getValueInCourse($event.target.value)">
                                        <option [ngValue]="null" disabled>Choose Course</option>
                                        <option *ngFor="let course of courseList">
                                            {{ course.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Organizser :</label>

                                <div class="col-md-8 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-credit-card"></i></span>
                                    </div>

                                    <select name="Organizser" class="form-control form-control-sm"
                                            (change)="getValueInOrganizser($event.target.value)">
                                        <option [ngValue]="null" disabled>Choose Organizser</option>
                                        <option *ngFor="let Organizser of OrganizserList">
                                            {{ Organizser.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <!--second col-md-6-->

                            <div class="row">
                                <div class="col-md-4 text-center img-div">
                                    <img [src]="url" height="150px" width="150px">
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">File Name :</label>

                                        <div class="col-md-8 input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-doc"></i></span>
                                            </div>
                                            <input type="text" formControlName="chosenFileName"
                                                   name="fileNameTxt" id="fileNameTxt"
                                                   [(ngModel)]="chosenFileName"
                                                   class="form-control"
                                                   [ngClass]="{ 'is-invalid': submitted && f.chosenFileName.errors }"
                                                   class="form-control"
                                                   placeholder="File Name">

                                            <div *ngIf="submitted && f.chosenFileName.errors" class="invalid-feedback">
                                                <div *ngIf="f.chosenFileName.errors.required">File Name is required
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">File Type :</label>

                                        <div class="col-md-8 input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-docs"></i></span>
                                            </div>
                                            <input type="text" formControlName="chosenFileType"
                                                   [(ngModel)]="chosenFileType"
                                                   name="fileTypeTxt" id="fileTypeTxt"
                                                   class="form-control"
                                                   [ngClass]="{ 'is-invalid': submitted && f.chosenFileType.errors }"
                                                   class="form-control"
                                                   placeholder="File Type">

                                            <div *ngIf="submitted && f.chosenFileType.errors" class="invalid-feedback">
                                                <div *ngIf="f.chosenFileType.errors.required">File Type is required
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">File Size :</label>

                                        <div class="col-md-8 input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-drawer"></i></span>
                                            </div>
                                            <input type="text" formControlName="chosenFileSize"
                                                   name="fileSizeTxt" id="fileSizeTxt"
                                                   [(ngModel)]="chosenFileSize"
                                                   class="form-control"
                                                   [ngClass]="{ 'is-invalid': submitted && f.chosenFileSize.errors }"
                                                   class="form-control"
                                                   placeholder="File Size">

                                            <div *ngIf="submitted && f.chosenFileSize.errors" class="invalid-feedback">
                                                <div *ngIf="f.chosenFileSize.errors.required">File Size is required
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="btn btn-default">
                                    <input type="file" accept="image/*" (change)="selectFile($event)">
                                </label>

                            </div>


                        </div>


                        <!-- row closing tag-->
                    </div>


                    <!--cardbody closing tag-->
                    <div class="row float_rigt">
                        <div class="form-group pad_right_5">
                            <button type="button" class="btn btn-danger px-4">Reset</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary px-4">Add Project</button>
                        </div>
                    </div>
                </form>


                <!---1st card-->
            </div>
        </div>
    </div>
</div>